h1 {
  font-size: 70px;
  text-align: center;
  border-bottom: 1px solid grey;
  margin: 0;
  padding: 20px;
}
h2 {
  font-size: 30px;
  font-family: cursive;
}
img {
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
body {
  background-color: lightpink;
  margin: 0;
}
p {
  font-weight: bold;
}
h3 {
  margin: 15px;
}
li a {
  display: block;
  border-right: 1px solid grey;
  color: #000;
  background-color: white;
  text-decoration: none;
  padding: 8px 30px;
  border-bottom: 1px solid grey;
}
li a#home {
  background-color: lightblue;
  color: white;
}
li a:hover:not(#home) {
  background-color: #555;
  color: white;
}
#home {
  padding: 20px 30px;
}
#all {
  display: grid;
  grid-template-columns: 0.25fr 0.75fr;
}
#all ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 20px;
  font-weight: 400;
}
#all #major {
  text-align: justify;
  padding-right: 30px;
  padding-left: 30px;
}
@media (max-width:1240px){
  #all {
    display: block;
  }
  #all ul {
    border-right: none;
  }
}
